/* Barre sous les liens */
.nav-link {
    text-decoration: none;
    /* Supprime la soulignement par défaut des liens */
    position: relative;
    color: #000;
    /* Couleur du texte des liens (vous pouvez ajuster selon vos besoins) */
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    /* Épaisseur de la barre */
    background-color: #096a09;
    /* Couleur de la barre */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    /* La barre est initialement invisible */
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    /* La barre apparaît et s'étend à 100% au survol */
}

.logoNav {
    width: 35px;
}

nav {
    width: 100%;
    top: 0;
    z-index: 5;
}

.imgHeader {
    width: 150px;
    margin-bottom: 100px;
    position: absolute;
    left: 75%;
    top: 320px
}


#business {
    margin-top: 60px;
}

.modal-content{
margin-top:50px;
}

.imgVacuumCleaner {
    padding-top: 4%;
    width: 100%;
    height: 710px;
}

#btnCard {
    color: #096a09;
    background: linear-gradient(90deg, #096a09 50%, #fff 50%);
    background-size: 200% 100%;
    transition: background-position 0.7s;
    background-position: 100.1% 0;

}

#closesBtn{
background-color: #096a09;
color: #fff;
}

#btnCard:hover {
    background-position: 0 0;
    color: #fff;
}

.cardImg {
    margin-top: 10px;
    border-radius: 5px;
}

span{
    color: #ff0000;
}